<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Local library</title>
</head>
<body>
    <div class="main-container">
        <div class="side-navbar">
            <ul class="menu">
                <li><a href="/catalog">Home</a></li>
                <li><a href="/catalog/books">All books</a></li>
                <li><a href="/catalog/bookinstances">All book-instances</a></li>
            </ul>

            <ul class="create-menu">
                <li><a href="/catalog/book/create">Create book</a></li>
                <li><a href="/catalog/bookinstance/create">Create book instance</a></li>
            </ul>
        </div>
